<ion-header>
  <ion-toolbar color="{{color}}">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" (click)="openMenu()"></ion-menu-button>
    </ion-buttons>
    <ion-title>Relatório de Uso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false" class="ion-padding">
  <br>

  <div padding>
    <h4>Data Inicial:</h4>
  <ion-buttons text-left>
    <span style="font-size: 14px;">{{startDate}}</span>
    <button clear style="background-color:#f6f7f8" icon-left (click)="showDatePicker()">
      <ion-icon name="calendar">
      </ion-icon>
    </button>
  </ion-buttons>
<br>
<h4>Data Final:</h4>
  <ion-buttons text-left>
    <span style="font-size: 14px;">{{endDate}}</span>
    <button clear style="background-color:#f6f7f8" icon-left (click)="showDatePicker2()">
      <ion-icon name="calendar">
      </ion-icon>
    </button>
  </ion-buttons>
</div>
  <br>
  <div padding>
    <ion-button [disabled]="!startDate||!endDate" color="medium" expand="block" (click)="getReport()">OBTER RELATÓRIO</ion-button>
  </div>

  <br>
  {{cs}}

  <div padding *ngIf="ClinicalSummaries.length>0&&!isDisabled">
<h3>{{ClinicalSummaries.length}} registo(s) encontrado(s)</h3>
<ion-button color="primary" expand="block" (click)="printClinicalSummaries()">DOWNLOAD</ion-button>

    </div>

</ion-content>