#cabecalho-menu {
    background-image: url('../assets/imgs/material-design-background.jpg');
    background-size: cover;
    height: 150px;
    margin-bottom: 10px;
    padding: 5px;

    p {
        color: #eee;
    }
}