<ion-header>


  <ion-toolbar color="{{color}}">

    <ion-buttons slot="end" *ngIf="!locked&&accepted">
      <ion-button color="medium" (click)="openSettings()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>


    <ion-title>SESP Sumário Clínico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #f0f0f2;">
  <br>

  <div style="text-align: center;margin-top: 5px;">
  <img src="../../../assets/imgs/app-logo.png" height="64" width="64"/>
  </div>
  <div style="text-align: center;margin-top: 5px;color:#1e8509;">
    <ion-label >
      Ao acessar este sistema, você está prestes a visualizar informações altamente confidenciais de utentes.
      É sua responsabilidade protegê-las adequadamente e usá-las somente para os fins autorizados.
      A privacidade dos utentes é essencial para nossa missão.
    </ion-label>
  </div>
  <br>
    <form [formGroup]="form">

      <ion-item>
        <ion-label position="stacked">
          URL do Servidor
        </ion-label>
        <ion-input style="font-size: 12px;" [disabled]="!locked" [(ngModel)]="localUser.url" type="text" value="" formControlName="url" placeholder="Escreva a URL do Servidor"></ion-input>
        <ion-icon name="globe-outline" slot="start"  size="small" class="ion-align-self-center"></ion-icon>


      </ion-item>

      <ion-item *ngIf="locked&&activation" >
        <ion-label position="stacked">
          Nome da Unidade sanitária
        </ion-label>
        <ion-input [(ngModel)]="localUser.healthfacility" type="text" value="" formControlName="healthfacility" placeholder="Escreva o nome "></ion-input>
        <ion-icon name="medical-outline" slot="start"  size="small" class="ion-align-self-center"></ion-icon>
      </ion-item>


      <ion-item *ngIf="locked&&activation" >
        <ion-label position="stacked">
          Chave para {{activation.entry}}
        </ion-label>
        <ion-input [(ngModel)]="localUser.pin" type="text" value="" formControlName="pin" placeholder="Escreva a chave para o codigo"></ion-input>
        <ion-icon name="lock-closed" slot="start"  size="small" class="ion-align-self-center"></ion-icon>
      </ion-item>

      <ion-item *ngIf="!locked&&accepted">
        <ion-label position="stacked">
          Unidade Sanitária
        </ion-label>

        <ion-select position="stacked"
        aria-label="Select"
        [compareWith]="compareWith"
        placeholder="Selecione"
        (ionChange)="handleChange($event)">
        <ion-select-option *ngFor="let configuracoe of configuracoes" [value]="configuracoe">{{ configuracoe.healthfacility }}</ion-select-option>

        </ion-select>
        <ion-icon name="medical-outline" slot="start"  size="small" class="ion-align-self-center"></ion-icon>
      </ion-item>

      <ion-item *ngIf="!locked&&accepted">
        <ion-label position="stacked">
          Utilizador
        </ion-label>

        <ion-input [(ngModel)]="localUser.username" type="text" value="" formControlName="username" placeholder="Escreva o username">        </ion-input>
        <ion-icon name="person" slot="start"  size="small" class="ion-align-self-center"></ion-icon>
      </ion-item>

      <ion-item *ngIf="!locked&&accepted" >
        <ion-label position="stacked">
          Password
        </ion-label>
        <ion-input [(ngModel)]="localUser.password" type="{{type}}" value="" formControlName="password" placeholder="Escreva o password"></ion-input>

        <ion-icon *ngIf="!showPass" slot="end" class="ion-align-self-center" name="eye-off-outline" (click)="showPassword()"></ion-icon>
        <ion-icon *ngIf="showPass" slot="end" class="ion-align-self-center" name="eye-outline" (click)="showPassword()"></ion-icon>
        <ion-icon name="lock-closed" slot="start"  size="small" class="ion-align-self-center"></ion-icon>
      </ion-item>

      <div *ngIf="!locked&&accepted" class="ion-margin-top">
        <ion-button color="primary" expand="block" (click)="logoutLogin()" >ENTRAR</ion-button>
      </div>

      <div padding *ngIf="locked&&!isAddHealthFacility" class="ion-margin-top">
        <ion-button color="success" expand="block" (click)="setURL()">GRAVAR URL</ion-button>
        </div>

        <div padding *ngIf="locked&&isAddHealthFacility" class="ion-margin-top">
          <ion-button color="success" expand="block" (click)="setURL()">ADD UNIDADE SANITARIA</ion-button>
        </div>

      <ion-item *ngIf="!locked&&accepted" class="ion-hide">
        <ion-label>Recordar utilizador</ion-label>
        <ion-checkbox [(ngModel)]="storelocalUser" formControlName="storelocalUser"></ion-checkbox>
      </ion-item>

      <ion-item *ngIf="!locked&&accepted" class="ion-hide">
        <ion-label>Auto enviar dados de uso</ion-label>
        <ion-checkbox [(ngModel)]="autoSync" formControlName="autoSync"></ion-checkbox>
      </ion-item>

      <div *ngIf="!locked&&accepted" class="ion-margin-top" class="ion-hide">
        <ion-button color="success" [disabled]="!lastLoggedUsername" expand="block" (click)="uploadUsageReports()">PARTILHAR DADOS DE USO</ion-button>
      </div>



    </form>


</ion-content>
