<ion-header>


    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title>Definições</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content style="--background: #f0f0f2;font-family: 'Poppins',sans-serif;">

    <h4 style="padding: 5px 0px 0px 20px;color: gray;">Gerais</h4>

<ion-list>

    <ion-item>
        <ion-label>Auto enviar dados de uso</ion-label>
        <ion-toggle color="secondary" [(ngModel)]="autoSync" (ionChange)="autoSyncChanged($event)"></ion-toggle>
    </ion-item>
<ion-item>
    <ion-label>Recordar username</ion-label>
    <ion-toggle color="secondary" [(ngModel)]="storelocalUser" (ionChange)="storelocalUserChanged($event)"></ion-toggle>
</ion-item>
<ion-item lines="none">
    <ion-label>Auto Log Out</ion-label>

<ion-select [(ngModel)]="session">
<ion-select-option value="15">15 minutos</ion-select-option>
</ion-select>

</ion-item>
</ion-list>

<h4 style="padding: 5px 0px 0px 20px;color: gray;">Perfil</h4>

<ion-list>
<ion-item>
</ion-item>
</ion-list>




<div class="ion-margin-top">
    <ion-button color="success" [disabled]="!lastLoggedUsername" expand="block" (click)="uploadUsageReports()">PARTILHAR DADOS DE USO</ion-button>
    <ion-button color="primary"  expand="block" (click)="addHealthFacility()">ADICIONAR UNIDADE SANITARIA</ion-button>
    <ion-button color="warning"  expand="block" (click)="wipeData()">RECONFIGURAR</ion-button>
  </div>



</ion-content>
